.card-container {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
}

.card-wrapper {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.card-element {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  opacity: 1;
  transition: opacity 0.1s ease-in;
}
